<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 Relief Supply Tool</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Ubuntu', sans-serif;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Relief Provider</a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li> -->
          </ul>
          {% if user.is_authenticated %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">
                        {{user.username}}
                        <span>|</span>
                    </a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="{% url 'user_logout' %}">Logout</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
            </ul>
          {% endif %}
        </div>
    </nav>
    
    <div class="container">
        <div class="centered">
            {% if Success %}
                <div class="success">
                    <h5>{{ Success }}</h5>
                </div>
            {% endif %}
            {% if Error %}
                <div class="error">
                    <h4>{{ Error }}</h4>
                </div>
            {% endif %}

            <form action="" method="post" class="submit-form">
                {% csrf_token %}
                <div class="form-group">
                  <label for="relief_amount">Relief Amount</label>
                  <input type="number" class="form-control" id="relief_amount" name="relief_amount" value="1">
                </div>
                <div class="form-group">
                    <label for="relief_to">Send Relief To</label>
                    <select name="relief_to" id="relief_to" class="custom-select" required>
                        <option disabled selected value> -- select an option -- </option>
                        {% for value in next%}
                        <option value="{{value}}">{{value}}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- <div class="form-group" id="user_select">
                    <label for="donate_to">Donate To</label>
                    <select name="donate_to" id="donate_to" class="custom-select" required>
                        <option disabled selected value> -- select an option -- </option>
                        {% for value in next%}
                        <option value="{{value}}">{{value}}</option>
                        {% endfor %}
                    </select>
                </div> -->
                <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
        .centered{
            height: 400px;
            position: relative;
        }
        .submit-form{
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 80%;
        }
        .error {
            display: block;
            text-align: center;
            background-color: rgb(240, 221, 221);
            padding: 4px 0;
        }
        .success {
            display: block;
            text-align: center;
            background-color: rgb(184, 241, 227);
            padding: 4px 0;
        }
    </style>

    <script>
        $(document).ready(function() {
            $('#relief_to').change(function() {
                var selected = $(this).children("option:selected").val();
                
                $('#user_select').remove();
                $('#subButton').remove()
                $.ajax({
                    url: '/userlist/',
                    data: {"user_type": selected},
                    success: function(response) {
                        console.log(response)
                        var element = "\
                        <div class='form-group' id='user_select'>\
                            <label for='donate_to'>Donate To</label>\
                            <select name='donate_to' id='donate_to' class='custom-select' required>\
                            <option disabled selected value> -- select an option -- </option>\
                            </select>\
                        </div>";

                        $('.submit-form').append(element);
                    
                        // donate_to
                        for(var i = 0; i < response.length; i++){
                            $('#donate_to').append("\
                                <option value="+ response[i].fields.nid +">"+ response[i].fields.user[0] +"</option>\
                            ");
                        }

                        $('.submit-form').append("<button type='submit' class='btn btn-primary' id='subButton'>Submit</button>");
                    },
                    error: function(xhr) {
                        console.log(xhr)
                    }
                })
            });
        });

    </script>
</body>
</html>